body {
  width:640px;
  font-family:'Arimo';
  font-size:15px;
  margin:20px auto;
  line-height: 22px;
  color: #212121;
      }  


table,th,td
{
border-collapse:collapse;
padding:0px 0px 0px 0px;
vertical-align: top;
}

input[type=text] {
 margin-right: 10%;
 width:30px; 
 margin-top : 10px;
 margin-bottom : 10px;
}

#button {
 width: 100px;  
 font-size: 20px;
 float: right;
 margin-right:10%;
}


#bottomform {
  width: 54%;
  margin: 0 auto;
  text-align: center;
}
