body {
  width: 100%;
  max-width: 737px;
  font-family: GibsonLightRegular, sans-serif;
  font-size:16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin:0px auto;
  line-height: 28px;
      }  

table,td
{
border-collapse: collapse;
}

table
{
  width:95%;
  margin-left:auto; 
  margin-right:auto;
}

#spacer{
  height:15px;
}

#para
{
  width:100%;
}

#question, #td_bls
{
  width:83%;
  background-color: #FFEBF3;
  padding:  4px 10px 4px 10px;
  border-radius: 3px 0px 0px 3px;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
}

#inputbox, #td_blsrate
{
  text-align:left;
  background-color: #FCF1DC;
  border-radius: 0px 3px 3px 0px;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
}

#td_blsrate
{
  text-align:center !important;
}

#inputtask_1hour, #inputtask_2hour, #inputtask_3hour, #inputtask_5hour, #inputtask_6hour, #inputtask_7hour, #inputtask_8hour, #inputtask_10hour, #inputtask_9hour, #inputtask_4hour, #inputtask_11hour, #inputworkstatus
{
  font-family: GibsonLightRegular, sans-serif;
  border:0px;
  font-size:16px;
  background-color: #FCF1DC;
}

#bls
{
  background-color: #FFEBF3;
  padding:  2px 10px 2px 10px;
  border-radius: 3px 0px 0px 3px;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
}

#blsrate
{
  text-align:center;
  background-color: #FCF1DC;
  border-radius: 0px 3px 3px px;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc; 
  padding:  2px 10px 2px 10px;
}

input[type=text] {
 width:30px; 
}

#button {
  font-family: GibsonLightRegular, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  font-size:18px;
  background-color: #DEFFEE;
  padding: 10px;
  display:block;
  margin: 0 auto;
  -moz-box-shadow:    3px 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;
  box-shadow:         3px 3px 3px 3px #ccc;
}

#bottomform {
  margin: 0 auto;
  text-align: center;
}

#reset {
  font-family: GibsonLightRegular, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  font-size:18px;
  background-color: #DEFFEE;
  padding: 10px;
  width:26%;
  margin-bottom: 30px;
  -moz-box-shadow:    3px 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;
  box-shadow:         3px 3px 3px 3px #ccc;
}

#sharebox{
  font-family: GibsonLightRegular, sans-serif;
  font-weight: bold;
  width: 23%;
  border-radius: 5px;
  font-size:18px;
  background-color: #DEFFEE;
  padding: 10px;
  margin:0px auto;
  text-align: center;
  -moz-box-shadow:    3px 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;
  box-shadow:         3px 3px 3px 3px #ccc;
}

#result {
  font-weight: bold;
  font-size:30px;
  line-height:40px !important;
  margin:0px auto;
  text-align: center;
  background-color: #F0DBFF;
  width: 70%;
  padding: 25px;
  border-radius: 10px;
  -moz-box-shadow:    3px 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;
  box-shadow:         3px 3px 3px 3px #ccc;
}

#totalnumber{
  font-size:35px;
  color:#DE548B;
}

#occupation{
  color:#DE548B;
}

#holder{
  height:38px;
}